@{
    ViewData["Title"] = "Cadastro Itens";
}

<p>Tela de cadastro de itens</p>
<div class="d-grip gap-2 d-md-flex justify-content-md-start">
<a class="btn btn-outline-primary" role="button" asp-controller="CadastroItens" asp-action="Criar">Adicionar Item</a>
</div>